# Dewrapping lines

In [1]:
#get authorization from google drive
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
!ls "input/1880/nypl_1880_81_starred.txt"

input/1880/nypl_1880_81_starred.txt

In [3]:
#load data
import glob # import glob to retrieve files/pathnames matching a specified pattern
file_path = "input/1880/nypl_1880_81_starred.txt"
with open(file_path) as f:
  data = f.readlines()

In [4]:
import pandas as pd
pd.DataFrame(data).shape

(307677, 1)

There are 307,677 rows

In [6]:
data[0:50]

['\n',
 'Z***\n',
 'Zoller Ignatz, shoes, 106 W. 24th\n',
 'Zoller John, tailor. 221 Ninth av.\n',
 'Zoller Robert W. birds, 5 N. William\n',
 'Zoller Stephen, molder, h r 504 W. 55th\n',
 'Zollfrai Sarah, nurse, h 934 First av.\n',
 'Zollfroi Abraham, pedlar, h 202 Seventh\n',
 'Zollfrey Moses, cutter, h 208 E. 49th\n',
 'Zollie Louis, h r 10 Dominick\n',
 'Zollikoffer Oscar, pres. 1545) B’way, h 210 W. 46th\n',
 'Zollikoffer Oscar F. sec. 1549 B’way, h 65 W. 54th\n',
 'Zollinger Caroline, wid. William, h 241 W. 53d\n',
 'Zollmann Leopold, shoes, 344 E. Houston\n',
 'Zollner Charles, express, h 315 W. 35th\n',
 'Zollver Elizabeth, dressmkr. 142 Third\n',
 'Zollver John, tailor, h 142 Third\n',
 'Zolnowski Vincent, physician, h 33 W. 16th\n',
 'Zolvert Auguste, tailor, h 41 Marion\n',
 'Zoncada Frederic W. tinner, h 309 Pearl\n',
 'Zong Joseph, driver, h 203 W. 30th\n',
 'Zonino Michael, laborer, h 203 S. 5th av.\n',
 'Zons Christian T. hats, 121 Third av.\n',
 'Zonzy John, candy, 87 Oliver\n',
 'Zook Stephen, laborer, h 640 E. 13th\n',
 'Zopf George, cabinetmkr. h 1519 First av.\n',
 'Zopfs Henry, harnessmkr. 503 E. 18th\n',
 'Zopfs Herman, waiter, h 51 Allen\n',
 'Zoppe Michael, engineer, h 442 W. 53d\n',
 'Zorer Louis, painter, W. 150th n Brook av.\n',
 'Zorkowski Aaron, broker, 11 New, h 956 Second av.\n',
 'Zorkowski Mary, wid. Marx, h 956 Second av.\n',
 'Zorkowski Rieka, wid. Samuel R. h 258 W. 44th\n',
 'Zorn Bernard, tailor, h 92 Attorney\n',
 'Zorn Henry, shoes, 113 E. 129th\n',
 'Zorn Jacob, barber, h 57 Forsyth\n',
 'Zorn John, trussmkr. h 217 Bowery\n',
 'Zorn Joseph, produce, h 89 Charlton\n',
 'Zorn Otto, meat, 253 W. 35th\n',
 'Zorn Sebastian, shoemkr. h 144 Norfolk\n',
 'Zorn William, mason, h 602 E. 17th\n',
 'Zomow George, cabinetmkr. h 18 Av. A\n',
 'Zorntlein William, machinist, h 102 Pitt\n',
 'Zost Jacob, grocer, 188 Third\n',
 'Zschirner Ernst, cutter, h 438 Sixth\n',
 'Zschoch Theodore, broker, 116 Nassau\n',
 'Zschwetzke Ferdinand, weaver, h 152 Orchard\n',
 'Zshan Morritz, pianomkr. h 474 Ninth av.\n',
 'Zuber Henry, grocer, 326 W. 26th\n',
 'Zubiller Henry, cider, 190 Stanton\n']

## Divide records into different sections based on first letter

In [7]:
d = {}
value = []
i = 0
for line in data:
  line = line.strip()
  if line:
    if len(line) < 6: 
      if line[-3:] == "***": # If last 3 values are ***
        # save previous value
        if value:
          if value[0] == "'":
            value = value[1:]
          d[key] = value
        
        key = line
        value = []
    else:
      value.append(line)

In [8]:
d.items

## Combline lines that belong to the same record

Criteria:

1) First letter of next line not equal to the initial letter in this section

2) Special cases in the start of next line: B’klyn, B'way, E., W.

In [9]:
for key,value in d.items():
  initial = key[0]
  new_value = []
  n = len(value)
  i = 0
  
  while i < n:
    if i < n-1:
      if (value[i+1][0] != initial and value[i+1][0] != "*") or (value[i+1][0:2] in ["B’", "E.", "W."]) or (value[i+1][0:2] == ". "):
        if value[i][-1] == "-":
          s = value[i][:-1] + value[i+1]
        else:
          s = value[i] + ' ' + value[i+1]
        new_value.append(s)
        i += 2
      else:
        new_value.append(value[i])
        i += 1 
    else:
      if value[i][0] == initial:
        new_value.append(value[i])
      i += 1
  
  d[key] = new_value

In [10]:
# remove "(see adv...."
for key,value in d.items():
  n = len(value)
  for i in range(n):
    ls = value[i].split()
    n2 = len(ls)
    for j in range(n2):
      if "see" in ls[j]:
        value[i] = ' '.join(ls[:j])
        break

## Identify business vs person records

Made an update on 27/03/20 to change the index notation.

* The first letter of Company names were being removed by the function
    * ZUCCA BROTHERS
    * ARNAULT PETER
    * APPELL JACOB
    * APPLETON’S AMERICAN CYCLOPG5DIA
    * BURTON A. B

In [11]:
# add an index to each record
# in another dictionary, for each index specify whether it's business or person record
index = 1
d_bp = []
for key,value in d.items():
  n = len(value)
  for i in range(n):
    ls = value[i].split()
    if ls:
      if ls[0][0] == "*" or (len(ls[0]) > 1 and ls[0].isupper()): # Upper case as well
        value[i] = value[i][0:] # Changed from [0:] to [1:]
        d_bp.append([str(index), "b"])
      else:
        d_bp.append([str(index), "p"])
    
      value[i] = str(index) + "\t" + value[i]
      index += 1

## Save files

In [12]:
file = open("input/1880/nypl_1880_81_starred_clean.txt", "w")
for key,value in d.items():
  file.write(key + '\n')
  for record in value:
    file.write(record + '\n')
  file.write('\n')

file.close()

file2 = open("input/1880/index_business_person.txt", "w")
for item in d_bp:
  file2.write(item[0] + ' ' + item[1] + '\n')
  
file2.close()