# Dewrapping lines

In [15]:
#get authorization from google drive
#from google.colab import drive
#drive.mount('/content/drive')

In [16]:
!ls "input/nypl_1880_81_starred.txt"

input/nypl_1880_81_starred.txt

In [17]:
#load data
import glob
file_path = "input/nypl_1880_81_starred.txt"
with open(file_path) as f:
  data = f.readlines()

In [39]:
print(data[1:10])

['Z***\n', 'Zoller Ignatz, shoes, 106 W. 24th\n', 'Zoller John, tailor. 221 Ninth av.\n', 'Zoller Robert W. birds, 5 N. William\n', 'Zoller Stephen, molder, h r 504 W. 55th\n', 'Zollfrai Sarah, nurse, h 934 First av.\n', 'Zollfroi Abraham, pedlar, h 202 Seventh\n', 'Zollfrey Moses, cutter, h 208 E. 49th\n', 'Zollie Louis, h r 10 Dominick\n']

## Divide records into different sections based on first letter

In [19]:
d = {}
value = []
i = 0
for line in data:
  line = line.strip()
  if line:
    if len(line) < 6:
      if line[-3:] == "***":
        # save previous value
        if value:
          if value[0] == "'":
            value = value[1:]
          d[key] = value
        
        key = line
        value = []
    else:
      value.append(line)

## Combline lines that belong to the same record

Criteria:

1) First letter of next line not equal to the initial letter in this section

2) Special cases in the start of next line: B’klyn, B'way, E., W.

In [20]:
for key,value in d.items():
  initial = key[0]
  new_value = []
  n = len(value)
  i = 0
  
  while i < n:
    if i < n-1:
      if (value[i+1][0] != initial and value[i+1][0] != "*") or (value[i+1][0:2] in ["B’", "E.", "W."]) or (value[i+1][0:2] == ". "):
        if value[i][-1] == "-":
          s = value[i][:-1] + value[i+1]
        else:
          s = value[i] + ' ' + value[i+1]
        new_value.append(s)
        i += 2
      else:
        new_value.append(value[i])
        i += 1 
    else:
      if value[i][0] == initial:
        new_value.append(value[i])
      i += 1
  
  d[key] = new_value

In [21]:
#remove "(see adv...."
for key,value in d.items():
  n = len(value)
  for i in range(n):
    ls = value[i].split()
    n2 = len(ls)
    for j in range(n2):
      if "see" in ls[j]:
        value[i] = ' '.join(ls[:j])
        break

## Identify business vs person records

In [22]:
# add an index to each record
# in another dictionary, for each index specify whether it's business or person record
index = 1
d_bp = []
for key,value in d.items():
  n = len(value)
  for i in range(n):
    ls = value[i].split()
    if ls:
      if ls[0][0] == "*" or (len(ls[0]) > 1 and ls[0].isupper()):
        value[i] = value[i][1:]
        d_bp.append([str(index), "b"])
      else:
        d_bp.append([str(index), "p"])
    
      value[i] = str(index) + "\t" + value[i]
      index += 1

## Save files

In [23]:
file = open("input/nypl_1880_81_starred_clean.txt", "w")
for key,value in d.items():
  file.write(key + '\n')
  for record in value:
    file.write(record + '\n')
  file.write('\n')

file.close()

file2 = open("input/index_business_person.txt", "w")
for item in d_bp:
  file2.write(item[0] + ' ' + item[1] + '\n')
  
file2.close()