In [29]:
# Load Data
import pickle
with open('input/1880/final_output.pkl', 'rb') as f:
    final_output = pickle.load(f)

In [31]:
final_output.head()

         Full Name First Name Last Name Middle Name Widow-flag Widow Of Title  \
1    Zoller Ignatz     Ignatz    Zoller                  False
2      Zoller John       John    Zoller                  False
3  Zoller Robert W     Robert    Zoller           W      False
4   Zoller Stephen    Stephen    Zoller                  False
5   Zollfrai Sarah      Sarah  Zollfrai                  False

  Occupation     Full Address H Status-flag        H Address H House Number  \
1      shoes      106 W. 24th        Assume      106 W. 24th            106
2     tailor    221 Ninth av.        Assume    221 Ninth av.            221
3      birds     5 N. William        Assume     5 N. William              5
4     molder  h r 504 W. 55th          True  h r 504 W. 55th            504
5      nurse  h 934 First av.          True  h 934 First av.            934

  H Street Name H City Address 2 Address 2 House Number Address 2 Street Name  \
1       W. 24th
2     Ninth av.
3    N. William
4       W. 55th
5     First av.

  Address 2 City Index                               Full Entry
1                    1        Zoller Ignatz, shoes, 106 W. 24th
2                    2       Zoller John, tailor. 221 Ninth av.
3                    3     Zoller Robert W. birds, 5 N. William
4                    4  Zoller Stephen, molder, h r 504 W. 55th
5                    5   Zollfrai Sarah, nurse, h 934 First av.

In [8]:
final_output.shape

(266599, 20)

There are 266,599 rows and 20 columns

In [10]:
print(final_output.isna().any())

Full Name                 False
First Name                False
Last Name                 False
Middle Name               False
Widow-flag                False
Widow Of                  False
Title                     False
Occupation                False
Full Address              False
H Status-flag             False
H Address                 False
H House Number            False
H Street Name             False
H City                    False
Address 2                 False
Address 2 House Number    False
Address 2 Street Name     False
Address 2 City            False
Index                     False
Full Entry                False
dtype: bool

In [17]:
final_output['Occupation'].value_counts(normalize = True)

                                  0.147364
laborer                           0.056744
clerk                             0.051763
tailor                            0.030713
driver                            0.025176
                                    ...
paper ruling and bookbinding      0.000004
la                                0.000004
lawyer Tryon row & drugs          0.000004
lawyer notary and commissioner    0.000004
men's furng salesrooms factory    0.000004
Name: Occupation, Length: 7075, dtype: float64

In [19]:
final_output['Title']

1
2
3
4
5
         ..
266595
266596
266597
266598
266599
Name: Title, Length: 266599, dtype: object